@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --black: #3e404b;
  --blue: #026cff;
  --muted: #f1f5ff;
}

button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 32px 16px;
}
.calendar {
  width: 580px;
  max-width: 100%;
  margin: auto;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.arrows button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: white;
  border: none;
  color: var(--black);
  border-radius: 100%;
  cursor: pointer;
  width: 48px;
  aspect-ratio: 1;
}
.arrows button:hover {
  background-color: var(--muted);
  color: var(--blue);
  font-weight: 500;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
}
.calendar-body {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.weekdays div {
  text-align: center;
  font-weight: 500;
  aspect-ratio: 1;
  font-size: 16px;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  padding: 10px;
  aspect-ratio: 1;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  border-radius: 100%;
}
.day:hover {
  background-color: var(--muted);
  color: var(--blue);
  font-weight: 500;
}
.selectArrow {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}
.active,
.active:hover {
  background-color: var(--blue);
  color: #fff;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  /* Desktop */
}

@media only screen and (max-width: 992px) {
  /* Tablet Landscape*/
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 480px) {
  /* Mobile */
}

@media only screen and (max-width: 320px) {
  /* Mobile Small */
}
